<h1>All Categories</h1>

<% @categories.each do |category| %>
  <div class=<%= category.title %>>
    <p>
      <%= link_to category.title, category_path(category) %><br>
      <%= link_to "Delete", category_path(category), method: :delete,
      data: {confirm: "Do you really wanna delete the category?"}%>
      <%= link_to "Edit", edit_category_path(category)%>
    </p>
  </div>
<% end %>
